<p>idea submitted!</p>

	<h3> <%= @idea.title %> </h3>
	<p> <%= @idea.body %> </p>
	<p> <%= @idea.location %> </p>
	<p> <%= @idea.idea_type %> </p>
	<p> <%= @idea.idea_category %> </p>
	<p> <%= @idea.interests %> </p>