<!DOCTYPE html>
<html>
<head>
  <title>RallyAway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>PLANS by Rally Away</h1>
		<ul>
			<li><%= link_to('All Trip Ideas', root_path) %></li>
			<li><%= link_to('New Trip Idea', new_idea_path) %></li>
		</ul>
	<% if flash.notice %>
		<div class="notice"><%= flash.notice %></div>
	<% end %>
	<%= yield %>

</body>
</html>
